.page-inner {
	margin: 0px 0px rem(100) 0px;
	// .page-inner__container
	&__container {
		@media (min-width: em($md1+1)) {
			display: grid;
			gap: rem(50) rem(30);
		}
	}
	// .page-inner__head
	&__head {
		display: grid;
		grid-template-columns: rem(62) 1fr;
		gap: rem(50) rem(30);
		@media (max-width: em($md1)) {
			grid-template-columns: 1fr;
			gap: rem(30);
		}
	}
	// .page-inner__nav
	&__nav {
		display: flex;
		flex-wrap: wrap;
		gap: rem(30);
		@media (min-width: em($md1+1)) {
			grid-column: 2;
		}
		@media (max-width: em($md2)) {
			gap: rem(15);
		}
	}
	// .page-inner__body
	&__body {
		display: grid;
		grid-template-columns: rem(62) 1fr;
		gap: rem(50) rem(30);
		@media (max-width: em($md1)) {
			grid-template-columns: 1fr;
			gap: rem(30);
		}
	}
	// .page-inner__title
	&__title {
		@media (min-width: em($md1+1)) {
			writing-mode: vertical-lr;
			rotate: 180deg;
			line-height: 0.8;
			align-self: start;
		}
	}
	
	// .page-inner__link
	&__link {
	}
	// .page-inner__main
	&__main {
	}
}

//===============================================================
.authentication {
	max-width: rem(400);
	@media (min-width: em($md1+1)) {
		padding: 0px 0px 0px rem(120);
	}
}

//===============================================================
.registration {
	@media (min-width: em($md1+1)) {
		padding: 0px 0px 0px rem(120);
	}
}


//===============================================================
.contacts {
	display: grid;
	grid-template-columns: 3fr 2fr;
	align-content: start;

	a {
		color: var(--color-main);
	}

	@media (max-width: em($md3)) {
		grid-template-columns: 1fr;
		gap: rem(50);
	}
	// .contacts__column
	&__column {
		padding: 0px rem(50) rem(20);
		display: grid;
		align-content: start;
		gap: rem(30);
		@media (max-width: em($md3)) {
			padding: 0;
		}
		// .contacts__column_left
		&_left {
			@media (min-width: em($md3+1)) {
				border-right: rem(2) solid var(--color-main);
			}
		}
		// .contacts__column_right
		&_right {
		}
	}
	// .contacts__title
	&__title {
	}
	// .contacts__list
	&__list {
		display: grid;
		align-content: start;
		gap: rem(30);
	}
	// .contacts__item
	&__item {
		position: relative;
		font-size: rem(18);
		&::before {
			width: rem(20);
			height: rem(20);
			display: inline-block;
			margin: 0px rem(15) 0px 0px;
			translate: 0 rem(5);
			position: absolute;
			left: 0;
			top: rem(-3);
		}
		// .contacts__item_phone
		&_phone {
			padding: 0px 0px 0px rem(40);
			&::before {
				content: url('../img/phone.svg');
			}
		}
		// .contacts__item_address
		&_address {
			padding: 0px 0px 0px rem(40);
			&::before {
				content: url('../img/mark.svg');
			}
		}
		// .contacts__item_email
		&_email {
			padding: 0px 0px 0px rem(40);
			&::before {
				content: url('../img/env.svg');
			}
		}
	}

	// .contacts__phone
	&__phone {
	}
	// .contacts__address
	&__address {
	}
	// .contacts__email
	&__email {
	}
}


//===============================================================
.mentor {
	// .mentor__title
	&__title {
	}
	// .mentor__content
	&__content {
	}
	// .mentor__image
	&__image {
		@media (min-width: em($md3+1)) {
			min-height: rem(832);
			min-width: rem(400);
			float: left;
			margin: rem(0) rem(30) rem(0) rem(0) !important;
		}
		@media (max-width: em($md3)) {
			@include adaptiv-value(height, 1000, 300, 1);
			width: 100%;
			img {
				object-position: top;
			}
		}
	}
}