.videos {
	display: grid;
	gap: rem(50);
	@media (max-width: em($md2)) {
		gap: rem(25);
	}
	// .videos__nav
	&__nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: rem(15) rem(30);
		@media (max-width: em($md2)) {
			gap: rem(15);
		}
	}
	// .videos__link
	&__link {
		flex: auto;
	}
	// .videos__main
	&__main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);
		@media (max-width: em($md2)) {
			gap: rem(15);
		}
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .videos__video
	&__video {
		// .videos__video_main
		&_main {
			@media (min-width: em($md3+1)) {
				grid-column: span 2;
			}
		}
	}
}

//===============================================================
.video-gallery {
	display: grid;
	gap: rem(30);
	@media (min-width: em($md1+1)) {
		padding: 0px 0px 0px rem(120);
	}
	@media (max-width: em($md3)) {
		gap: rem(40);
	}
	// .video-gallery__section
	&__section {
		display: grid;
		gap: rem(30);
	}
	// .video-gallery__title
	&__title {
	}
	// .video-gallery__item
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(20);
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .video-gallery__video
	&__video {
	}
	// .video-gallery__figure
	&__figure {
	}
	// .video-gallery__content
	&__content {
		font-size: rem(18);
		line-height: 130%;
	}
}


//===============================================================
[data-video] {
	position: relative;
	cursor: pointer;
	&._active {
		background-image: url('../img/loading.svg');
		background-position: center;
		background-repeat: no-repeat;
		&::before,
		&::after {
			display: none;
		}
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('../img/video-bg.jpg') center / cover no-repeat;
		z-index: 1;
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 0;
		height: 0;
		border-top: rem(25) solid transparent;
		border-bottom: rem(25) solid transparent;
		border-left: rem(50) solid var(--color-main);
		z-index: 2;
	}
}